body {
    background-color:black;
}

p {
    color: green;
}

h1 {
    color: green;
}

h2 {
    color: green;
}

h3 {
    color: green;
}

h5 {
    opacity: 0;
}

ul {
    color: green;
}

ul {
    color: green;
}
